* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #f3cad3;
}

.container {
  height: 100dvh;
  display: grid;
  place-items: center;
  position: relative;
}

.square {
  width: 80vw;
  max-width: 300px;
  border-radius: 20px;
}

.media {
  position: absolute;
  transform: translate(0, 150px);
  cursor: pointer;
}
